.task-form {
    // border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
  }

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }